#get-started-button {
  background-color: green;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3vmin;
}

#review-button {
  background-color: rgba(214, 0, 0, 0.802);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3vmin;
}
