#play-again-button {
  background-color: rgb(71, 192, 71);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3vmin;
}

#buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2vmin;
}
