#go-back-home-button {
  background-color: rgb(71, 192, 71);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3vmin;
}

#play-again-button {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3vmin;
}
