body {
  background-color: #8690a6;
  min-height: 100vmin;
  min-width: 160px;
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  align-self: center;
}

#get-started-button {
  background-color: rgb(71, 192, 71);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3vmin;
}
